* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.quiz-container {
  background-color: white;
  border-radius: 10px;
  width: 600px;
  max-width: 100%;
}

.quiz-header {
  padding: 2rem;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 1rem;
}
li label,
#question li input {
  cursor: pointer;
}

button {
  background-color: rgb(55, 79, 144);
  color: white;
  font-family: inherit;
  display: block;
  border: none;
  font-size: 1.3rem;
  width: 100%;
  padding: 1.3rem;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
}

button:hover {
  background-color: rgb(127, 167, 236);
}

#countdown {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.3rem;
  padding: 1.3rem;
}
#highscore-html a {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.3rem;
  padding: 1.3rem;
}
